<span class="img" *ngIf="isImg">
  <img
    src="http://images.clipartpanda.com/disinformation-clipart-hooray.png"
    width="150"
    height="150"
/></span>
<div>
  <h3 style="margin-left:86px">Score Card</h3>
  <table
    id="dtBasicExample"
    class="table table-striped table-bordered tablemt tabwid"
    cellspacing="0"
    width="100%"
  >
    <thead>
      <tr>
        <th class="th-sm headColor">Ball 1</th>
        <th class="th-sm headColor">Ball 2</th>
        <th class="th-sm headColor">Ball 3</th>
        <th class="th-sm headColor">Ball 4</th>
        <th class="th-sm headColor">Ball 5</th>
        <th class="th-sm headColor">Ball 6</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let score of scoreCard">
        <td>{{ score.ball1 }}</td>
        <td>{{ score.ball2 }}</td>
        <td>{{ score.ball3 }}</td>
        <td>{{ score.ball4 }}</td>
        <td>{{ score.ball5 }}</td>
        <td>{{ score.ball6 }}</td>
      </tr>
    </tbody>
  </table>
</div>
