<div class="form-group">
  <div class="col-md-6 ml">
    <label> Add Score </label>
    <input
      type="text"
      placeholder="Add your score....."
      class="form-control"
      minlength="1"
      maxlength="1"
      onkeypress="if ( isNaN(this.value +
    String.fromCharCode(event.keyCode))|| event.which==32 ) return false;"
      (input)="getVal($event)"
    />
  </div>

  <button
    type="button"
    class="btn btn-primary btn-rounded btnml btn-md"
    (click)="sendScore()"
  >
    Add
  </button>
</div>
