<!-- <div class="row"> -->
<div class="icon">
  <div class="col-md-6">
    <img
      src="../../assets/admin.jpg"
      width="200"
      height="200"
      style="cursor:pointer"
      routerLink="/admin"
    />
    <h3 class="ml">Admin</h3>
  </div>

  <div class="col-md-6">
    <img
      src="https://jvca.co.uk/img/JVCA_icons_OFF_Personal_client.jpg"
      width="200"
      height="200"
      style="cursor:pointer"
      routerLink="/client"
    />
    <h3 class="ml">Client</h3>
  </div>
</div>
<!-- </div> -->
